.App {
  text-align: center;
}

.App-header {
  background-color: #e87f18;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
}

.generate-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 1em;
  border-radius: 2em;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #3a3a3a;
  text-align: center;
  transition: all 0.2s;
}
.generate-button:hover {
  background-color: #e87f18;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.numeric-input {
  font-family: "Roboto", sans-serif;
}

.input-label {
  margin-right: 0.5em;
  margin-left: 2em;
  font-weight: 700;
}
